@import '../common/common';

.openfile {
    position: absolute;
    background-image: url('../images/open_white_18dp.png');
    width: 72px;
    height: 72px;
    left: 0px;
    &:hover {
        top: -2px;
    }
}

.deletefile {
    position: absolute;
    background-image: url('../images/delete_white_18dp.png');
    width: 72px;
    height: 72px;
    left: 72px;
    &:hover {
        top: -2px;
    }
}

.union {
    position: absolute;
    background-image: url('../images/union_white_18dp.png');
    width: 72px;
    height: 72px;
    top: 72px;
    &:hover {
        left: 2px;
    }
}

.subtract {
    position: absolute;
    background-image: url('../images/subtract_white_18dp.png');
    width: 72px;
    height: 72px;
    top: 144px;
    &:hover {
        left: 2px;
    }
}

.intersect {
    position: absolute;
    background-image: url('../images/intersect_white_18dp.png');
    width: 72px;
    height: 72px;
    top: 216px;
    &:hover {
        left: 2px;
    }
}