@import '../common/common';

.container {
  margin: 20px auto;
  position: relative;
  max-width: 600px;
  border: 2px solid blue;
  background-color: #fff;
	border-radius: 10px;
}

.header {
  color: blue;
  background: linear-gradient(#fff,lightblue);
  border-bottom: 1px dashed blue;
}

.header h1 {
  margin: 10px;
}

.nav {
  position: absolute;
  left: 0px;
  width: 150px;
}

.nav p {
  margin: 10px;
  padding: 3px;
  text-align: center;
  user-select: none;
  background-color: white;
	color: cornflowerblue;
	border-style: solid;
	border-color: cornflowerblue;
	font-weight: bold;
	border-width: 1px;
	border-radius: 10px;
}

.nav p:hover {
	color: royalblue;
	border-color: royalblue;
	font-weight: bold;
  cursor: pointer;
}

.section {
  margin-left: 150px;
  border-left: 1px solid royalblue;
}

.section p,h2 {
  margin: 10px;
}

.section h2 {
  color: royalblue;
}

.section p {
  color: cornflowerblue;
}

li {
  padding: 5px;
  color: royalblue;
}